# フジカメラ
FUJI_LWA_CLIENT_ID=
FUJI_LWA_CLIENT_SECRET=
FUJI_REFRESH_TOKEN=
FUJI_SELLER_ID=

# You and Me
YANDME_LWA_CLIENT_ID=
YANDME_LWA_CLIENT_SECRET=
YANDME_REFRESH_TOKEN=
YANDME_SELLER_ID=

# 共通
MARKETPLACE_ID=A1VC38T7YXB528
SP_API_REGION=FE

# Googleスプレッドシート
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=./secrets/gcp-sa.json
YANDME_SPREADSHEET_ID=YOUR_GOOGLE_SHEET_ID_HERE
